# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/

# Pytest
.pytest_cache/
.coverage
htmlcov/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Build
build/
dist/
*.egg-info/

# Logs
*.log

# Videos
videos/
*.mp4
*.avi
*.mov
*.mkv

# Streamlit
.streamlit/secrets.toml